body{
    background-color: #4f9e4f;
    text-align: center;
    align-items: center;
}

.nav-wrapper{
    background-color: bisque;
    padding: 15px;
    align-items: center;
    max-width: 300px;
    border-radius: 5px;
    text-align: center;
    float: inside;
}