/client/.parcel-cache/
/client/dist/
/client/node_modules/
/node_modules/
/server/node_modules/
/.idea/second-attempt.iml
/.idea/modules.xml
/client/.parcel-cache/lock.mdb
/client/.parcel-cache/data.mdb
.env/
/.env
/.idea/gabe-exam-prep.iml
/.idea/prettier.xml
/.idea/jsLibraryMappings.xml
